/* Change border color for text boxes */
.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border-color: yellow !important;
}

/* Change border color on focus for text boxes */
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: yellow !important;
}

/* Change border color for dropdowns */
.MuiSelect-outlined {
    border-color: yellow !important;
}

/* Change border color on focus for dropdowns */
.MuiSelect-outlined.Mui-focused {
    border-color: yellow !important;
}